body {
    overflow: hidden;
    margin: 5px;
}

#page-content {
    border: solid 1px;
    height: 99vh;
    display: flex;
    flex-direction: row;
}

.left-part {
    width: 80%;
}

header {
    padding: 10px;
    border-bottom: solid 1px;
    background-color: #552A7F;
}

.button {
    color: #800080;
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px #800080;
    border-radius: 25%;
    background-color: transparent;
}

.bar .button {
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 875px;
}

.cards {
    overflow-y: auto;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-space {
    list-style-type: none;
    margin: 50px 65px 80px;
    border: solid 1px;
    color: #800080;
    display: flex;
    width: 500px;
    height: 250px;
}

.card-number {
    padding: 50px 75px 50px 90px;
    width: inherit;
    display: flex;
    justify-content: center;
}

.number {
    margin: 50px;
}

.card-button .button {
    border: none
}

.footer {
    border-top: solid 1px;
}

.footer-content {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.footer-content p {
    margin: 12px;
}

.text {
    font-weight: bold;
    align-self: center;
}

.right-part {
    display: flex;
    justify-content: center;
    border-left: solid 1px;
}

.instr {
    display: flex;
    padding: 80px;
}

.instr p {
    width: 40vh;
    text-align: center;
}